js/config.js



# ── Base de datos Django (datos locales) ──
backend/db.sqlite3

# ── Archivos de Python ──
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# ── Entornos virtuales ──
venv/
env/
.venv/
.env/

# ── Variables de entorno ──
.env
.env.local

# ── Django ──
backend/staticfiles/
backend/mediafiles/
public/
*.log

# ── Sistema operativo ──
.DS_Store
Thumbs.db
desktop.ini
